@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = " Quản lý  chi tiết đơn hàng";
    decimal total = 0;
    decimal subtotal = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col"> Order Name</th>
            <th scope="col"> Order Code</th>
            <th scope="col"> Product Name</th>
            <th scope="col"> Quatity </th>
            <th scope="col"> Price</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            subtotal = item.Quatity * item.Price;
            total += subtotal;
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <td>@item.UserName</td>
                <td>@item.OrderCode</td>
                <td>@item.Product.Name</td>
                <td>@item.Quatity</td>
                <td>@item.Price</td>
                <td>@subtotal.ToString("C")</td>
            </tr>
        }
        <tr>
            <th colspan="5">Total:</th>
            <td>@total.ToString("C")</td>
            <td>
                <select class=" form-control select-update-order">
                <option value="1">đơn hàng mới</option>
                <option value="0">Đã sử lý</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).on('change', '.select-update-order', function () {
            var status = $(this).val();
            var ordercode = $('.getId').val();
             //alert("Status: " + status);
             //alert("OrderCode: " + ordercode);

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrder", "Order")", // Đảm bảo trỏ đúng Action
                data: { status: status, ordercode: ordercode },

                success: function (result) {
                    if (result && result.success) {
                        Swal.fire("Cập nhật đơn hàng thành công");
                    } else {
                        Swal.fire("Cập nhật đơn hàng thất bại: " + (result.message || "Không xác định"));
                    }
                },
                error: function (req, status, error) {
                    console.error("Error Update order:", error);
                    Swal.fire("Có lỗi xảy ra khi cập nhật đơn hàng.");
                }
            });
        });
    </script>
}
